/* 
Global
*/

/* 
HEADER
*/
header{
    -webkit-box-shadow: 0px 10px 15px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 15px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 15px 2px rgba(34, 60, 80, 0.2);
}
.container-fluid{
    padding: 10px 50px;
}
.navigation{
    color: black;
    font-weight: 600;
    font-size: 20px;
}
/* 
MAIN
*/
.conf-container{
    /* max-width: 1470px; */
    padding: 75px 50px;
    margin: 0 auto;
}
h4{
    display: flex;
    flex-flow: column;
    font-size: 20px;
}
small{
    color: #6e9dc9;
}

/* 
MODAL WIMDOW
*/
.image-wrapper img{
    object-fit: cover;
}

/* 
FOOTER
*/
.row {
    margin-right: 10px;
    margin-left: 10px;
}